<% provide(:title, @taxon.name) %>

<div class="categoris_container">
  <h3 class="categoris_name"><%= @taxon.name %></h3>
  <ul class="categories_products">
    <% @products.each do |product| %>
      <li class="categoris_product">
        <%= link_to product_path(product.id), style: "text-decoration: none;" do %>
          <%= image_tag(product.images.first.attachment(:small), class: "categories_product_images") %>
          <p class="categoris_product_name"><%= product.name %></p>
          <p class="categoris_product_price"><%= product.display_price %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
