<% provide(:title, @product.name) %>
<div class="Container ProductsContainer">
  <ol class="breadcrumb">
    <%= render 'shared/breadcrumb', ancestors: @ancestors %>
    <li class="breadcrumb-item active" aria-current="page">
      <span style="color: black;">/ <%= @product.name %></span>
    </li>
  </ol>
  <div class="ProductWrapper">
    <div class="ProductSlider">
      <div class="carousel-inner">
        <% @product.images.each_with_index do |image, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <%= image_tag image.attachment(:small), alt: @product.name, class: 'product-image' %>
          </div>
        <% end %>
      </div>
    </div>
    <section class="ProductDetail">
      <h1 class="ProductDetail__name"><%= @product.name %></h1>
      <div class="ProductDetail__size-buttons">
        <div class="SizeButton">
          <input id="radio1" class="SizeButton__input" name="size" type="radio" value="S" checked="">
          <label for="radio1" class="SizeButton__label">S</label>
        </div>
        <div class="SizeButton">
          <input id="radio2" class="SizeButton__input" name="size" type="radio" value="M">
          <label for="radio2" class="SizeButton__label">M</label>
        </div>
        <div class="SizeButton">
          <input id="radio3" class="SizeButton__input" name="size" type="radio" value="L">
          <label for="radio3" class="SizeButton__label">L</label>
        </div>
        <div class="SizeButton">
          <input id="radio4" class="SizeButton__input" name="size" type="radio" value="XL">
          <label for="radio4" class="SizeButton__label">XL</label>
        </div>
      </div>
      <h3 class="ProductDetail__price"><%= @product.display_price %></h3>
      <label class="SubTotalForItem__label" for="item-count">数量</label>
      <div class="SubTotalForItem__select ProductDetail__item-count">
        <select name="item-count" id="item-count">
          <% (1..10).each do |quantity| %>
            <option><%= quantity %></option>
          <% end %>
        </select>
      </div>
      <a class="ProductDetail__add-button" href="/cart">カートに入れる</a>
    </section>
  </div>
  <section class="RelatedProducts">
    <h3 class="RelatedProducts__title">一緒に見られている商品</h3>
    <ul class="RelatedProducts__list">
      <% @related_products.first(4).each do |product| %>
        <li class="related-product">
          <%= link_to product_path(product.id), class: 'no-underline' do %>
            <%= image_tag product.images.first.attachment(:small), alt: product.name, class: 'related-product-image' %>
            <br>
            <p class="related-name"><%= product.name %></p>
            <p class="related-price"><%= product.display_price %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
