<!DOCTYPE html>

<html>
  <head>
    <%= render 'layouts/head' %>
    <title><%= @product.present? ? @product.name : "Your Store Name" %></title>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
